.app_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    width: 600px;
}

@media screen and (max-width: 768px) {
    .app_box {
        max-width: 300px;
        width: 300px;
    }
}